<tbody>

{% if logsArray %}
    {% for log in logsArray %}
        <tr>
            <td>
                {{ log.created_at|date("Y-m-d H:i:s")}}
            </td>
            <td class="text-center">
                {% if log.level == constant('Moloni\\Enums\\LogLevel::INFO') %}
                    <span class="badge badge-info">
                        {{ 'Information'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% elseif log.level == constant('Moloni\\Enums\\LogLevel::WARNING') %}
                    <span class="badge badge-warning">
                        {{ 'Warning'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% elseif log.level == constant('Moloni\\Enums\\LogLevel::ERROR') %}
                    <span class="badge badge-danger">
                        {{ 'Error'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td>
                {% for message in log.message %}
                    {% set foo = {} %}

                    {% if message[1] %}
                        {% for key, value in message[1] %}
                            {% set translatedValue = value|trans({}, 'Modules.Molonies.Common') %}

                            {% set foo = foo|merge({(key): translatedValue}) %}
                        {% endfor %}
                    {% endif %}

                    {% if log.level == constant('Moloni\\Enums\\LogLevel::INFO') %}
                        {{ message[0]|trans(foo, 'Modules.Molonies.Common') }}
                    {% else %}
                        {{ message[0]|trans(foo, 'Modules.Molonies.Errors') }}
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
            <td class="text-center">

                {# Overlay button #}
                <button type="button"
                        class="btn btn-outline-secondary btn-sm"
                        data-toggle="modal"
                        data-target="#log_{{ log.id }}">
                    <i class="material-icons">inventory</i>
                </button>

                {# Payload Overlay #}
                {% include '@Modules/molonies/views/templates/admin/logs/overlays/LogPayload.twig' with {'log_id': log.id, 'payload_data': log.extra} %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="100%">
            {# Empty state #}
            {% include '@Modules/molonies/views/templates/admin/components/EmptyState.twig' with {'empty_state_text': 'No information to show!'|trans({}, 'Modules.Molonies.Common')}%}
        </td>
    </tr>
{% endif %}
</tbody>
