{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for aux in arrayCompanies %}
                <div class="col-xs-6">
                    <div class="card" style="width: 18rem ;">
                        <div class="card-body">
                            <h5 class="card-title">{{ aux.name }}</h5>
                            <p class="card-text">ID: {{ aux.companyId }} </p>
                            <p class="card-text">Email: {{ aux.email }}</p>
                            <p class="card-text">{{ 'Address'|trans({}, 'Modules.Moloniprestashopes.Login') }}: {{ aux.address }}</p>
                            <p class="card-text">{{ 'Zip-Code'|trans({}, 'Modules.Moloniprestashopes.Login') }}: {{ aux.zipCode }}</p>
                            <a href="{{ path(redirectRoute, {id: aux.companyId}) }}" class="btn btn-primary">{{ 'Choose this store'|trans({}, 'Modules.Moloniprestashopes.Login') }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}
