{% extends '@Modules/moloniprestashopes/src/View/Templates/Admin/Settings/Layout.twig' %}

{% block settings %}
    <div class="card p-4 cardLogs">
        <h2>LOGS</h2>
        <div class="consultLogs">
            {{ logs|nl2br }}
        </div>
        <br>
        <a href="{{ path('moloni_es_tools_home') }}">
            <button class="btn btn-outline-primary">{{ 'Go back'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</button>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}
