{% extends '@Modules/molonies/views/templates/admin/Layout.twig' %}

{% block plugin_content %}
    {{ form_start(form) }}

    <div class="d-flex justify-content-center align-items-center">
        <div class="card moloni-registration moloni-registration--card">
            <div class="moloni-registration--image">
                <a href="https://www.moloni.es/" target="_blank">
                    <img src="{{ img }}" alt="Logo" width="140px" height="24px">
                </a>
            </div>

            <div class="moloni-registration--form">
                <div class="moloni-registration--row">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}

                    <div class="invalid-feedback"></div>
                </div>
                <div class="moloni-registration--row row">
                    <div class="moloni-registration--col">
                        {{ form_label(form.businessType) }}
                        {{ form_errors(form.businessType) }}
                        {{ form_widget(form.businessType) }}

                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="moloni-registration--col"
                         id="registration_form_businessTypeName_row"
                         style="display: none;">
                        {{ form_label(form.businessTypeName) }}
                        {{ form_errors(form.businessTypeName) }}
                        {{ form_widget(form.businessTypeName) }}
                    </div>
                </div>
                <div class="moloni-registration--row row">
                    <div class="moloni-registration--col">
                        {{ form_label(form.companyName) }}
                        {{ form_errors(form.companyName) }}
                        {{ form_widget(form.companyName) }}

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="moloni-registration--col">
                        {{ form_label(form.vat) }}
                        {{ form_errors(form.vat) }}
                        {{ form_widget(form.vat) }}

                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="moloni-registration--row row">
                    <div class="moloni-registration--col">
                        {{ form_label(form.country) }}
                        {{ form_errors(form.country) }}
                        {{ form_widget(form.country) }}

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="moloni-registration--col">
                        {{ form_label(form.slug) }}
                        {{ form_errors(form.slug) }}

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">
                                    ac.moloni.es/
                                </span>
                            </div>
                            {{ form_widget(form.slug) }}
                        </div>

                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="moloni-registration--row row">
                    <div class="moloni-registration--col">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="moloni-registration--col">
                        {{ form_label(form.phone) }}
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                </div>
                <div class="moloni-registration--row row">
                    <div class="moloni-registration--col">
                        {{ form_label(form.password.first) }}
                        {{ form_errors(form.password.first) }}
                        {{ form_widget(form.password.first) }}

                        <small class="form-text">
                            {{ 'Between 6 and 16 characters, at least one uppercase letter, one symbol and one number'|trans({}, 'Modules.Molonies.Signup') }}
                        </small>

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="moloni-registration--col">
                        {{ form_label(form.password.second) }}
                        {{ form_errors(form.password.second) }}
                        {{ form_widget(form.password.second) }}

                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="moloni-registration--row">
                    {{ form_label(form.serviceTerms) }}
                    {{ form_errors(form.serviceTerms) }}
                    {{ form_widget(form.serviceTerms) }}

                    <div class="invalid-feedback"></div>
                </div>
                <div class="moloni-registration--row">
                    {{ form_label(form.newsletter) }}
                    {{ form_errors(form.newsletter) }}
                    {{ form_widget(form.newsletter) }}
                </div>
            </div>
            <div class="moloni-registration--buttons">
                <a class="btn btn-outline-secondary" href="{{ path(loginRoute) }}">
                    {{ 'Cancel'|trans({}, 'Modules.Molonies.Signup') }}
                </a>

                <button type="button" class="btn btn-primary" id="verify_registration_form">
                    {{ 'Register'|trans({}, 'Modules.Molonies.Signup') }}
                </button>
            </div>
            <div style="display: none;">
                {{ form_widget(form.register) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            let props = {
                verifyFormAction: "{{ path(verifyFormAction) }}",
            };

            window.moloniRegistration.startObservers(props);
        });
    </script>
{% endblock %}
