{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <script>
        $(document).ready(function () {
            window.moloniRegistration.startObservers();
        });
    </script>
{% endblock %}

{% block javascripts %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card moloni-registration--card">
            {{ form_start(form) }}
            <div class="moloni-registration--content">
                <div class="moloni-registration--image">
                    <a href="https://www.moloni.es/"  target="_blank">
                        <img src="{{ img }}" alt="Logo" width="140px" height="24px">
                    </a>
                </div>

                <div class="moloni-registration--form">
                    {{ form_row(form.email) }}
                    {{ form_row(form.businessType) }}
                    {{ form_row(form.businessTypeName) }}
                    {{ form_row(form.companyName) }}
                    {{ form_row(form.vat) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.slug) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.passwordConfirmation) }}
                    {{ form_row(form.serviceTerms) }}
                    {{ form_row(form.newsletter) }}
                    {{ form_row(form.register) }}
                </div>

                <div class="moloni-registration--buttons">
                    <a class="btn btn-outline-secondary" href="{{ path(login_route) }}">
                        {{ 'Cancel'|trans({}, 'Modules.Molonies.Common') }}
                    </a>

                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
