{% extends view_dir ~ 'Layout.twig' %}

{% block plugin_content %}
    {% if productReferenceFallbackActive %}
        <div class="alert alert-info" role="alert">
            <p class="alert-text">
                {{ 'Product reference fallback is active. (search by prestashop ID if reference is empty)'|trans({}, 'Modules.Molonies.Products') }}
            </p>
        </div>
    {% endif %}

    <div class="card">
        <h3 class="card-header">
            <i class="material-icons mi-store">store</i>
            {{ 'Prestashop products'|trans({}, 'Modules.Molonies.Common') }}
        </h3>
        <div class="card-block overflow-auto">
            <table class="table table-striped table-bordered">
                {# Table header #}
                {% include view_dir ~ 'products/prestashop/blocks/TableHeader.twig' %}

                {# Table body #}
                {% include view_dir ~ 'products/prestashop/blocks/TableBody.twig' %}
            </table>

            {# Paginator #}
            {% include view_dir ~ 'components/Paginator.twig' %}
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                {# Go to tools #}
                <a href="{{ path(toolsRoute) }}"
                   class="btn btn-primary mr-2">
                    {{ 'Go back'|trans({}, 'Modules.Molonies.Common') }}
                </a>

                {# Refresh list #}
                <a href="{{ path(thisRoute, {page: paginator.currentPage, filters: filters}) }}"
                   class="btn btn-outline-secondary">
                    {{ 'Refresh list'|trans({}, 'Modules.Molonies.Common') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            window.moloni.PrestashopProducts.startObservers({
                thisRoute: "{{ path(thisRoute) }}",
                ExportStockRoute: "{{ path(exportStockRoute) }}",
                ExportProductRoute: "{{ path(exportProductRoute) }}"
            });
        });
    </script>
{% endblock %}
