{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">shopping_basket</i>
            {{ 'Pending orders'|trans({}, 'Modules.Molonies.Common') }}
        </h3>

        <div class="card-block">
            <table class="table table-striped table-bordered table-sm"
                   style="text-align: center; margin-bottom: -10px;">
                <thead>
                <tr>
                    <th scope="col">{{ 'Reference'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Client'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Email'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Status'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Payment Date'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Amount'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Document Type'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Actions'|trans({}, 'Modules.Molonies.Common') }}</th>
                </tr>
                </thead>
                <tbody>
                {% if orderArray %}
                    {% for order in orderArray %}
                        <tr>
                            <form action="{{ path(createDocumentRoute) }}" method="post">
                                <input type="hidden" name="orderId" value="{{ order.id_order }}">
                                <input type="hidden" name="page" value="{{ paginator.currentPage }}">
                                <td>{{ order.reference }}</td>
                                <td>{{ order.firstname }} {{ order.lastname }}</td>
                                <td>{{ order.email }}</td>
                                <td>{{ order.state_name }}</td>
                                <td>{{ order.invoice_date }}</td>
                                <td>{{ order.total_paid_tax_incl|number_format(2, '.', ',') }} {{ order.currency }}</td>
                                <td>
                                    <select name="document_type" style="margin-right: 5px">
                                        {% for order,key in documetTypes %}
                                            <option value='{{ key }}' {% if documentType == key %} selected {% endif %}>
                                                {{ order }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary"
                                            title="{{ 'Generate Document'|trans({}, 'Modules.Molonies.Common') }}"
                                            onclick="disableButtons(); this.form.submit();">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <a class="btn btn-success"
                                       title="{{ 'See order'|trans({}, 'Modules.Molonies.Common') }}"
                                       href="{{ order.viewURL }}">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <a class="btn btn-danger"
                                       title="{{ 'Discard order'|trans({}, 'Modules.Molonies.Common') }}"
                                       href="{{ path(clearInvoiceRoute, {id: order.id_order}) }}"
                                       onclick="disableButtons();">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">
                            {{ 'No information to show!'|trans({}, 'Modules.Molonies.Common') }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        {% include '@Modules/molonies/views/templates/admin/components/Paginator.twig' %}

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <a href="{{ path('moloni_es_orders_home', {page: paginator.currentPage}) }}" class="btn btn-primary">
                    {{ 'Refresh list'|trans({}, 'Modules.Molonies.Common') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}
