<div class="modal fade"
     id="logout_modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'Logout'|trans({}, 'Modules.Molonies.Tools') }}
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'Moloni authentication will be lost.'|trans({}, 'Modules.Molonies.Tools') }}<br>
                </p>
                <p>
                    {{ 'Are you sure you want to continue?'|trans({}, 'Modules.Molonies.Tools') }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-dismiss="modal">
                    {{ 'Close'|trans({}, 'Modules.Molonies.Tools') }}
                </button>
                <a class="btn btn-danger" href="{{ path(logoutRoute) }}">
                    {{ 'Logout'|trans({}, 'Modules.Molonies.Tools') }}
                </a>
            </div>
        </div>
    </div>
</div>
