<div class="modal fade"
     id="import_products_modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'Import products to Prestashop'|trans({}, 'Modules.Molonies.Tools') }}
                </h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'All your Moloni products will be created in your Prestashop store if they do not exist.'|trans({}, 'Modules.Molonies.Tools') }}<br>
                    {{ 'This may take a while, so, please keep this window open until the process finishes.'|trans({}, 'Modules.Molonies.Tools') }}
                </p>
                <p>
                    {{ 'Are you sure you want to continue?'|trans({}, 'Modules.Molonies.Tools') }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-dismiss="modal">
                    {{ 'Close'|trans({}, 'Modules.Molonies.Tools') }}
                </button>
                <button class="btn btn-primary"
                        data-dismiss="modal"
                        id="import_products_button">
                    {{ 'Import products'|trans({}, 'Modules.Molonies.Tools') }}
                </button>
            </div>
        </div>
    </div>
</div>
