{% extends '@Modules/moloniprestashopes/src/View/Templates/Admin/Settings/Layout.twig' %}

{% block settings %}
    <div class="card">
        <h3 class="card-header">{{ 'AREA - AUTOMATION'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</h3>
        <br>

        <div class="settingsMainDiv">
            {{ form_start(settingsForm) }}
            <p align="center">(Prestashop -> Moloni)</p>

            <div class="form-group row">
                {{ form_label(settingsForm.CreateAuto) }}
                {{ form_errors(settingsForm.CreateAuto) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.CreateAuto) }}
                    <p class="settingDescription">{{ 'Automatically create document when an order is paid'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.Stocks) }}
                {{ form_errors(settingsForm.Stocks) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.Stocks) }}
                    <p class="settingDescription">{{ 'Automatic stock synchronization'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.UpdateArtigos) }}
                {{ form_errors(settingsForm.UpdateArtigos) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.UpdateArtigos) }}
                    <p class="settingDescription">{{ 'When updating a product in Prestashop, the plugin will automatically update the product in Moloni if it already exists'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.AddProducts) }}
                {{ form_errors(settingsForm.AddProducts) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.AddProducts) }}
                    <p class="settingDescription">{{ 'When creating a product in Prestashop, the plugin will automatically create the product in Moloni'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <p align="center">(Moloni -> Prestashop)</p>

            <div class="form-group row">
                {{ form_label(settingsForm.HooksVariantsUpdate) }}
                {{ form_errors(settingsForm.HooksVariantsUpdate) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.HooksVariantsUpdate) }}
                    <p class="settingDescription">{{ 'When updating a product with variants in Moloni, it will update the product in Prestashop (if product already exists in Prestashop)'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.HooksAddProducts) }}
                {{ form_errors(settingsForm.HooksAddProducts) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.HooksAddProducts) }}
                    <p class="settingDescription">{{ 'When a product is created in Moloni it will be created in Prestashop (products with variants included)'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.HooksUpdateProducts) }}
                {{ form_errors(settingsForm.HooksUpdateProducts) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.HooksUpdateProducts) }}
                    <p class="settingDescription">{{ 'When updating a product in Moloni, it will be updated in Prestashop (only if product already exists in Prestashop)'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.SyncFields) }}
                {{ form_errors(settingsForm.SyncFields) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.SyncFields) }}
                    <p class="settingDescription">{{ 'Optional field that will sync when updating/creating a product on your Moloni account'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>

            <div class="form-group row">
                {{ form_label(settingsForm.HooksUpdateStock) }}
                {{ form_errors(settingsForm.HooksUpdateStock) }}
                <div class="col-sm">
                    {{ form_widget(settingsForm.HooksUpdateStock) }}
                    <p class="settingDescription">{{ 'When a stock movement is created in moloni, the movement will be recreated in Prestashop (if product exists)'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            {{ form_row(settingsForm.SaveChanges) }}
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}