{% extends '@Modules/moloniprestashopes/src/View/Templates/Admin/Settings/Layout.twig' %}

{% block settings %}
    <div class="card">
        <div>

            <h3 class="card-header">{{ 'AREA - DOCUMENTS'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</h3>
            <br>

            <div class="settingsMainDiv">
                {{ form_start(settingsForm) }}
                <div class="form-group row">
                    {{ form_label(settingsForm.Set) }}
                    {{ form_errors(settingsForm.Set) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Set) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Type) }}
                    {{ form_errors(settingsForm.Type) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Type) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Status) }}
                    {{ form_errors(settingsForm.Status) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Status) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div id="showMessage">
                    <p align="center">{{ 'WARNING: CANNOT SAVE "INVOICE + RECEIPT" AND "DRAFT" AT THE SAME TIME!!'|trans({}, 'Modules.Moloniprestashopes.Errors') }} </p>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Send) }}
                    {{ form_errors(settingsForm.Send) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Send) }}
                        <a class="settingDescription">{{ 'Show shipping information'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Transport) }}
                    {{ form_errors(settingsForm.Transport) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Transport) }}
                        <a class="settingDescription">{{ 'Create bill of lading'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div id="showMessage2">
                    <p align="center">{{ 'WARNING: CANNOT SAVE "YES" AND "DRAFT" AT THE SAME TIME!!'|trans({}, 'Modules.Moloniprestashopes.Errors') }} </p>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Address) }}
                    {{ form_errors(settingsForm.Address) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Address) }}
                        <a class="settingDescription">{{ 'Load address used'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            {{ form_row(settingsForm.SaveChanges) }}
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}