{% extends '@Modules/moloniprestashopes/src/View/Templates/Admin/Settings/Layout.twig' %}

{% block settings %}
    <div class="card">
        <div>
            <h3 class="card-header">{{ 'AREA - PRODUCTS & CUSTOMERS'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</h3>
            <br>

            <div class="settingsMainDiv">
                {{ form_start(settingsForm) }}
                <div class="form-group row">
                    {{ form_label(settingsForm.Tax) }}
                    {{ form_errors(settingsForm.Tax) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Tax) }}
                        <a class="settingDescription">{{ 'Use if products have no taxes'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.TaxShipping) }}
                    {{ form_errors(settingsForm.TaxShipping) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.TaxShipping) }}
                        <a class="settingDescription">{{ 'Use if shipping has no taxes'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Exemption) }}
                    {{ form_errors(settingsForm.Exemption) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Exemption) }}
                        <a class="settingDescription">{{ 'Will be used if product has no taxes'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Shipping) }}
                    {{ form_errors(settingsForm.Shipping) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Shipping) }}
                        <a class="settingDescription">{{ 'Will be used if shipping has no taxes'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Measure) }}
                    {{ form_errors(settingsForm.Measure) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Measure) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Maturity) }}
                    {{ form_errors(settingsForm.Maturity) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Maturity) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Warehouse) }}
                    {{ form_errors(settingsForm.Warehouse) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Warehouse) }}
                        <a class="settingDescription">{{ 'Wharouse where stock is discounted'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.Payment) }}
                    {{ form_errors(settingsForm.Payment) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.Payment) }}
                        <a class="settingDescription">{{ 'Required'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                    </div>
                </div>

                <div class="form-group row">
                    {{ form_label(settingsForm.ClientPrefix) }}
                    {{ form_errors(settingsForm.ClientPrefix) }}
                    <div class="col-sm">
                        {{ form_widget(settingsForm.ClientPrefix) }}
                        <a class="settingDescription">{{ 'Prefix used when creating clients'|trans({}, 'Modules.Moloniprestashopes.Settings') }}</a>
                        <a class="prefixPreview" id="prefixPreview">(Example: {{ settingsForm.ClientPrefix.vars.value }}
                            1)</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            {{ form_row(settingsForm.SaveChanges) }}
            {{ form_end(settingsForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}