{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {{ form_errors(form) }}

    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <h3 class="card-header">
                    <i class="material-icons">settings</i>
                    {{ 'Settings'|trans({}, 'Modules.Molonies.Common') }}
                </h3>
                {{ form_start(form) }}
                <div class="card-nav">
                    <ul class="nav nav-pills border-top-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               id="pills-documents-tab"
                               data-toggle="pill"
                               href="#pills-documents"
                               role="tab"
                               aria-controls="pills-documents"
                               aria-expanded="true">
                                {{ 'Documents'|trans({}, 'Modules.Molonies.Common') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="pills-automation-tab"
                               data-toggle="pill"
                               href="#pills-automation"
                               role="tab"
                               aria-controls="pills-automation"
                               aria-expanded="true">
                                {{ 'Automation'|trans({}, 'Modules.Molonies.Common') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="pills-advanced-tab"
                               data-toggle="pill"
                               href="#pills-advanced"
                               role="tab"
                               aria-controls="pills-advanced"
                               aria-expanded="true">
                                {{ 'Advanced'|trans({}, 'Modules.Molonies.Common') }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-block card-text">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="pills-documents"
                             role="tabpanel"
                             aria-labelledby="pills-documents-tab">
                            {{ form_row(form.documentSet) }}
                            {{ form_row(form.documentType) }}
                            {{ form_row(form.documentStatus) }}

                            <div id="settings_form_sendByEmail_row" style="display: none;">
                                {{ form_row(form.sendByEmail) }}
                            </div>

                            <div id="settings_form_billOfLanding_row" style="display: none;">
                                {{ form_row(form.billOfLanding) }}
                            </div>

                            {{ form_row(form.shippingInformation) }}

                            <div id="settings_form_loadAddress_row" style="display: none;">
                                {{ form_row(form.loadAddress) }}
                            </div>

                            <div id="settings_form_custom_loadAddress_row" style="display: none;">
                                <div class="form-group row">
                                    {{ form_label(form.customloadAddressAddress) }}
                                    {{ form_errors(form.customloadAddressAddress) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.customloadAddressAddress) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    {{ form_label(form.customloadAddressZipCode) }}
                                    {{ form_errors(form.customloadAddressZipCode) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.customloadAddressZipCode) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    {{ form_label(form.customloadAddressCity) }}
                                    {{ form_errors(form.customloadAddressCity) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.customloadAddressCity) }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    {{ form_label(form.customloadAddressCountry) }}
                                    {{ form_errors(form.customloadAddressCountry) }}
                                    <div class="col-sm-4">
                                        {{ form_widget(form.customloadAddressCountry) }}
                                    </div>
                                </div>
                            </div>

                            {{ form_row(form.automaticDocuments) }}
                            {{ form_row(form.useProductNameAndSummaryFrom) }}
                            {{ form_row(form.exemptionReasonProduct) }}
                            {{ form_row(form.exemptionReasonShipping) }}
                            {{ form_row(form.measurementUnit) }}
                            {{ form_row(form.documentWarehouse) }}
                            {{ form_row(form.clientPrefix) }}
                        </div>
                        <div class="tab-pane fade"
                             id="pills-automation"
                             role="tabpanel"
                             aria-labelledby="pills-automation-tab">
                            <h3 align="center">(Prestashop -> Moloni)</h3>

                            {{ form_row(form.syncStockToMoloniWarehouse) }}
                            {{ form_row(form.syncStockToMoloni) }}
                            {{ form_row(form.addProductsToMoloni) }}
                            {{ form_row(form.updateProductsToMoloni) }}

                            <h3 align="center">(Moloni -> Prestashop)</h3>

                            {{ form_row(form.syncStockToPrestashopWarehouse) }}
                            {{ form_row(form.syncStockToPrestashop) }}
                            {{ form_row(form.addProductsToPrestashop) }}
                            {{ form_row(form.updateProductsToPrestashop) }}

                            <h3 align="center">(Common)</h3>

                            {{ form_row(form.productSyncFields) }}
                        </div>
                        <div class="tab-pane fade"
                             id="pills-advanced"
                             role="tabpanel"
                             aria-labelledby="pills-advanced-tab">
                            {{ form_row(form.alertEmail) }}
                            {{ form_row(form.dateCreated) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        {{ form_widget(form.saveChanges) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log('Moloni settings page loaded');

            window.moloniSettings.startObservers();
        });
    </script>
{% endblock %}
