{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">article</i>
            {{ 'Created documents'|trans({}, 'Modules.Molonies.Common') }}
        </h3>
        <div class="card-block overflow-auto">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">{{ 'Reference'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Customer'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Email'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Amount'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Date'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Status'|trans({}, 'Modules.Molonies.Common') }}</th>
                    <th scope="col">{{ 'Actions'|trans({}, 'Modules.Molonies.Common') }}</th>
                </tr>
                </thead>
                <tbody>

                {% if documentArray %}
                    {% for document in documentArray %}
                        <tr>
                            <td>{{ document.order_reference|default('---') }}</td>
                            <td>{{ document.order_customer|default('---') }}</td>
                            <td>{{ document.order_email|default('---') }}</td>
                            <td>
                                {% if document.order_not_found is not defined %}
                                    {{ document.order_total|number_format(2, '.', ',') }}{{ document.order_currency }}
                                {% endif %}
                            </td>
                            <td>
                                {{ document.created_at is empty ? "---" : document.created_at|date("Y-m-d H:i:s", "GMT") }}
                            </td>
                            <td class="text-center">
                                {% if document.order_not_found  is defined %}
                                    <span class="badge badge-danger">
                                        {{ 'Not found'|trans({}, 'Modules.Molonies.Errors') }}
                                    </span>
                                {% elseif document.order_discarded is defined %}
                                    <span class="badge badge-warning">
                                        {{ 'Discarted'|trans({}, 'Modules.Molonies.Common') }}
                                    </span>
                                {% elseif document.document_id > 0 %}
                                    <span class="badge badge-success">
                                        {{ 'Created'|trans({}, 'Modules.Molonies.Common') }}
                                    </span>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if document.order_not_found is defined %}
                                    ---
                                {% else %}
                                    <div class="btn-group">
                                        {% if document.document_id > 0 %}
                                            {% set btn_class = 'btn-success' %}

                                            <a type="button"
                                               class="btn btn-sm {{ btn_class }}"
                                               href="{{ path(viewDocumentRoute , {documentId: document.document_id}) }}">
                                                {{ 'View document'|trans({}, 'Modules.Molonies.Common') }}
                                            </a>
                                        {% endif %}

                                        {% if document.order_discarded is defined %}
                                            {% set btn_class = 'btn-primary' %}

                                            <a type="button"
                                               class="btn btn-sm {{ btn_class }}"
                                               href="{{ path(restoreDocumentRoute , {orderId: document.order_id, page: paginator.currentPage }) }}">
                                                {{ 'Revert discard'|trans({}, 'Modules.Molonies.Common') }}
                                            </a>
                                        {% endif %}

                                        <button type="button"
                                                class="btn btn-sm {{ btn_class }} dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               href="{{ document.order_view_url }}"
                                               target="_blank">
                                                {{ 'View order'|trans({}, 'Modules.Molonies.Common') }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">
                            {{ 'No information to show!'|trans({}, 'Modules.Molonies.Common') }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            {% include '@Modules/molonies/views/templates/admin/components/Paginator.twig' %}
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <a href="{{ path(thisRoute, {page: paginator.currentPage}) }}"
                   class="btn btn-outline-secondary">
                    {{ 'Refresh list'|trans({}, 'Modules.Molonies.Common') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            console.log('Moloni documents page loaded');
        });
    </script>
{% endblock %}
