<tbody>
{% if documentArray %}
    {% for document in documentArray %}
        <tr>
            <td>
                {{ document.created_at is empty ? "---" : document.created_at|date("Y-m-d H:i:s") }}
            </td>
            <td class="text-center">
                {{ document.document_type_mame|default('---')|trans({}, 'Modules.Molonies.Common') }}
            </td>
            <td>
                {{ document.order_reference|default('---') }}
            </td>
            <td>
                {{ document.order_customer|default('---') }}
            </td>
            <td>
                {{ document.order_email|default('---') }}
            </td>
            <td class="text-right">
                {% if document.order_not_found is not defined %}
                    {{ document.order_total|number_format(2, '.', ',') }}{{ document.order_currency }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if document.order_not_found  is defined %}
                    <span class="badge badge-danger">
                        {{ 'Order not found'|trans({}, 'Modules.Molonies.Errors') }}
                    </span>
                {% elseif document.document_not_found is defined %}
                    <span class="badge badge-danger">
                        {{ 'Document not found'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% elseif document.order_discarded is defined %}
                    <span class="badge badge-warning">
                        {{ 'Discarted'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% elseif document.document_id > 0 %}
                    <span class="badge badge-success">
                        {{ 'Created'|trans({}, 'Modules.Molonies.Common') }}
                    </span>
                {% else %}
                    ---
                {% endif %}
            </td>
            <td class="text-center">
                {% if document.order_not_found is defined %}
                    ---
                {% else %}
                    <div class="btn-group">
                        {% if document.document_not_found is defined %}
                            {% set btn_class = 'btn-danger' %}

                            <a type="button"
                               class="btn btn-sm {{ btn_class }}"
                               href="#">
                                ---
                            </a>
                        {% elseif document.document_not_found is defined %}
                            {% set btn_class = 'btn-danger' %}

                            <a type="button"
                               class="btn btn-sm {{ btn_class }}"
                               href="#">
                                ---
                            </a>
                        {% elseif document.document_id > 0 %}
                            {% set btn_class = 'btn-success' %}

                            <a type="button"
                               class="btn btn-sm {{ btn_class }}"
                               target="_blank"
                               href="{{ document.document_link }}">
                                <i class="material-icons">open_in_new</i>

                                {{ 'View document'|trans({}, 'Modules.Molonies.Common') }}
                            </a>
                        {% elseif document.order_discarded is defined %}
                            {% set btn_class = 'btn-primary' %}

                            <a type="button"
                               class="btn btn-sm {{ btn_class }}"
                               href="{{ path(restoreDocumentRoute , {order_id: document.order_id, page: paginator.currentPage, filters: filters }) }}">
                                <i class="material-icons">undo</i>

                                {{ 'Revert discard'|trans({}, 'Modules.Molonies.Common') }}
                            </a>
                        {% endif %}

                        <button type="button"
                                class="btn btn-sm {{ btn_class }} dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{{ getAdminLink('AdminOrders', true, {'id_order': document.order_id, 'vieworder': ''}) }}"
                               target="_blank">
                                <i class="material-icons">open_in_new</i>

                                {{ 'View order'|trans({}, 'Modules.Molonies.Common') }}
                            </a>

                            {% if document.document_has_pdf is defined %}
                                <a class="dropdown-item"
                                   href="{{ path(downloadDocumentRoute , {document_id: document.document_id, document_type: document.document_type }) }}"
                                   target="_blank">
                                    <i class="material-icons">file_download</i>

                                    {{ 'Download pdf'|trans({}, 'Modules.Molonies.Common') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="100%">
            {{ 'No information to show!'|trans({}, 'Modules.Molonies.Common') }}
        </td>
    </tr>
{% endif %}
</tbody>
